.dropdown-menu {
  padding-bottom: 0 !important;
}

.carousel-caption {
  top: 50% !important;
  left: 50% !important;
  bottom: 0 !important;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
}

.carousel-caption h1 {
  font-size: 80px;
  text-shadow: 1px 2px 3px #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-form,
.register-form {
  width: 25%;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media all and (max-width:768px) {
  .w-sm-100 {
    width: 100 !important;
  }
}

@media all and (max-width:1080px) {

  .login-form,
  .register-form {
    width: 50%;
  }
}

@media all and (max-width:768px) {

  .login-form,
  .register-form {
    width: 95%;
  }
}